<h1>Scheduled Appointments</h1>
<p class="lead"><%= @appointments.count %> appointments have been scheduled.</p>

<h2>Grades</h2>
<div class="btn-group">
<% 6.upto(12).each do |grade| %>
  <a href="/appointments/grade/<%= grade  %>" class="btn"><%= grade  %></a>
<% end %>
</div>

<h2>Appointments</h2>
<table class="table tablesorter" id="scheduled-appointments">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Homeroom</th>
      <th>Student</th>
      <th>Parent</th>
      <th>Appointment Slot</th>
    </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.grade %></td>
      <td><%= appointment.homeroom %></td>
      <td><%= appointment.student %></td>
      <td><%= appointment.parent %></td>
      <td><%= appointment.slot.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
