<h1>Available Appointments</h1>

<p>Please scroll down to the grade and cohort that your child is in and select an available time slot.</p>

<ul>
    <li>Cohort A &mdash; homerooms ending in 01-03</li>
    <li>Cohort B &mdash; homerooms ending in 04-06</li>
    <li>Cohort C &mdash; homerooms ending in 07 or 08.</li>
</ul>

<p>If you received notice that you have a scheduled priority conference on a Friday afternoon in December, please do <strong>not</strong> schedule an appointment for Thursday.</p>

<p>Please note appointment slots are approximate and are for your child's core teachers. All other teachers will be available for appointments on this evening as well.</p>

<p>Conferences will last approximately 3 minutes each. We anticipate that parents will wait for up to one hour for all teachers. </p>

<table class='tablesorter table' id='appointment-list'>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Cohort</th>
      <th>Day and Time</th>
      <th>Appointments Remaining</th>
    </tr>
  </thead>
  <tbody>
    <% @slots.each do |slot| %>
      <tr<%= 'class="error"' unless slot.remaining > 0 %>>
        <td><%= slot.grade %></td>
        <td><%= slot.cohort %></td>
        <% if slot.remaining > 0 %>
          <td><a href="/signup/<%= slot.id %>"><%= slot.name %></a></td>
        <% else %>
          <td><%= slot.name %> (Full)</td>
        <% end %>
        <td><%= slot.remaining %></td>
      </tr>
    <% end %>
  </tbody>
</table>
