<h1>Appointment Registration</h1>
<h2><%= @slot.name %></h2>
<p class='lead'>Grade <%= @slot.grade %><%= @slot.cohort %></p>
<form id="create_appointment" name="create_appointment" method="post" action="/signup" accept-charset="UTF-8">
  <input value="<%= @slot.id %>" id="appointment_slot_id" name="appointment[slot_id]" type="hidden" />
  <p>
    <label for="appointment_student">Student Name</label>
    <input placeholder="Student Name" id="appointment_student" name="appointment[student]" type="text" />
  </p>
  <p>
    <label for="appointment_student">Parent Name</label>
    <input placeholder="Parent Name" id="appointment_parent" name="appointment[parent]" type="text" />
  </p>
  <p>
    <label for="appointment_student">Parent Email</label>
    <input name="appointment[email]" placeholder="Parent Email" id="appointment_email" type="email" />
  </p>
  <p>
    <label for="appointment_grade">Grade</label>
    <select id="appointment_grade" name="appointment[grade]">
    <option value="<%= @slot.grade %>"><%= @slot.grade %></option></select>
  </p>
  <p>
    <label for="appointment_homeroom">Homeroom</label>
    <select id="appointment_homeroom" name="appointment[homeroom]">
      <% { 6 => [601, 602, 603, 604, 605, 606, 607, 608], 7 => [701, 702, 703, 704, 705, 706, 707, 708], 8 => [801, 802, 803, 804, 805, 806], 9 => [901, 902, 903, 904], 10 => [101, 102, 103, 104], 11 => [111, 112, 113, 114], 12 => [121, 122, 123] }[@slot.grade].each do |homeroom| %>
        <option value="<%= homeroom %>"><%= homeroom %></option>
      <% end %>
    </select>
  </p>
  <p>
    <input class="btn btn-primary" value="Submit" type="submit" />
  </p>
</form>
